extends layout

block content
    .container
        .row
            h1 Search
        
        .row
            form.form-inline(id='form', method='post', action='/search', role='form')
                .form-group.col-lg-3
                    label.sr-only(for='name') Name:
                    input.form-control(id='name', name='name', type='text', placeholder='Name / Brewery' value='#{name}')
                
                .form-group   
                    button.btn.btn-success.text-center(type='submit') Search
        
            if (beers != null && beers.length > 0)
                .row
                    table.table.table-striped
                        thead
                            tr
                                th Name
                        tbody
                            each beer in beers
                                tr
                                    td #{beer.brewery.name} #{beer.name}